/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+10&display=swap');

* {
    font-family: 'Jersey 10', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/bg.png");
}

#site-header {
    background-color: rgba(23, 42, 58, 0.2);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

/* LOGO */
.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    border-radius: 100%;
    margin: 0 20px;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.nav-icon {
    display: inline-block;
    flex-shrink: 0;
    width: 50px; /* icon size */
    height: 50px;
    background-size: contain; /* bg configs */
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    filter: invert(100%);
}

/* nav icons bg */
.nav-icon.skill-icon { background-image: url('/images/skills.png'); }
.nav-icon.proj-icon { background-image: url('/images/projects.png'); }
.nav-icon.about-icon { background-image: url('/images/about-me.png'); }
.nav-icon.contact-icon { background-image: url('/images/contact.png'); }

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* make it look collapsed */
    width: 100px;
    height: 60px;
    overflow: hidden;
    transition: width 0.3s ease;
}


.nav-item:hover {
    width: 200px;             /* expanded */
}

.nav-label {
  opacity: 0;
  white-space: nowrap;
  margin-left: 10px;
  transition: opacity 0.2s ease;
  color: white;
  font-size: xx-large;
}

.nav-item:hover .nav-label {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: white;
}

/* INTRO TEXT */
.profile {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.intro-text {
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 4em;
    letter-spacing: 5px;
}

.intro-text h1 {
    margin: 0;
}

.highlight {
  color: #74B3CE;
   text-shadow: /* glow effect */
    0 0 5px rgba(116, 179, 206, 0.6),
    0 0 10px rgba(116, 179, 206, 0.4),
    0 0 20px rgba(116, 179, 206, 0.2);
}


.actions {
    display: flex; 
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.cv-button {
    width: 200px;   
    height: 70px;

    background-image: url('images/cv-button.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cv-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(116, 179, 206, 0.6); /
}

.socials a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.socials a img:hover {
    transform: scale(1.2);
}

/* SKILLS */
#skills-section h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.skill {
    background-color: rgba(116, 203, 206, 0.3);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.skill:hover {
    background-color: rgba(0, 67, 70, 0.7);
    transform: scale(1.05);

}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.skill-name {
  font-size: xx-large;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
  display: block;
}

.progress {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.progress-fill {
    height: 30px;
    font-size: x-large;
    background-color: #508991;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PROJECTS */
#project-section h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 40px;
    column-gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.project-container {
    background-color: rgba(80, 137, 145, 0.6);
    display: flex;
    flex-direction: column;

    color: white;
    font-size: x-large;

    padding: 20px;
    border-radius: 16px;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.project-container:hover {
    background-color: rgba(0, 67, 70, 0.7);
    transform: scale(1.05);
}

.project-container h3,
.project-container p {
    margin: 10px;
}

.project-container a {
    color: #09bc8a;
}

.project-container img {
    width: 100%;
    height: 250px;      
    object-fit: cover;     
    border-radius: 12px;
}

/* ABOUT ME */
#about-me-section {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

#about-me-section h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.about-me-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.about-me-image {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(116, 179, 206, 0.3);
}

.about-me-image img {
    width: 35%;
    max-width: 350px;
    border-radius: 16px;
    object-fit: cover;
    filter: drop-shadow(0 8px 20px rgba(0,0,0,0.6));
}

.about-me-text {
    background: rgba(116, 179, 206, 0.3);
    border-radius: 16px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    font-size: x-large;
    line-height: 1.6;
}

/* FOOTER */
#site-footer {
    background-color: rgba(23, 42, 58, 0.4);
    backdrop-filter: blur(6px);
    color: white;
    padding: 15px 20px; 
    font-size: large;    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}


/* Logo */
.footer-logo {
    order: 1;
}

.footer-logo img {
    max-width: 100px;
    border-radius: 15px;
}

/* Contact Info */
.footer-contact {
    order: 3;
    text-align: right;
}

.footer-contact p {
    margin: 4px 0;
}

.footer-contact a {
    color: #09bc8a;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Back to Top */
.back-to-top {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center; 
}

.back-to-top button {
    background: #09bc8a;
    color: white;
    border: none;
    padding: 8px 14px;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-to-top button:hover {
    background: #08a77d;
}

/* Bottom copyright */
.footer-bottom {
    text-align: center;
    margin: 0;
    font-size: 0.85rem;
    opacity: 0.8;
}
